@font-face {
    font-family: "Lilita";
    src: url(../fonts/Lilita.ttf) format("truetype");
}

table, th, td {
    border: 1px solid #ccd9a3;
}

body {
    padding: 0;
    margin: 0;
    background-color: #EEE;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

#bodyContainer {
    background-image: url(../img/bgPattern.jpg);
    background-repeat: repeat;
    position: absolute;
    box-shadow: 0 0 30px #fff;
    text-align:center;
    min-height: 100%;
}

#bgHeader {
    background-image: url(../img/bgHeader.jpg);
    width: 100%;
    height: 378px;
    display: inline-block;
    box-shadow: 0 150px 150px 7px #FFF;
    transition: 0.8s ease;
}

@media (max-width: 1000px) {
    #bodyContainer {
        width: 100%;
        left: 0;
    }
}

@media (min-width: 1001px) {
    #bodyContainer {
        width: 1000px;
        left: calc(50% - 500px);
    }
}

.horFlexContainer {

}

.Lilita {
    font-family: "Lilita", serif;
}

.redFont {
    color: #DD2A1B;
}

#iPeriodBubble {
    background-color: #fefefe;
    border-radius: 15px;
    display: inline;
    padding: 5px 15px;
    font-size: 25pt;
}

#headerAnixLogo {
    background-image: url(../img/anixLogo.svg);
    width: 150px;
    height: 150px;
    display: block;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: -10px 20px;
}

.horFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#headerHorMain {
    height: 100px;
    padding: 0 50px;
}

#mainH1 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#textContMainH1 {
    margin: 0 75px;
    width: 400px;
    text-align: center;
}

#textContMainH1>p, #textContMainH1>div {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.inlineLogo {
    width: 90px;
    height: 25px;
    background-image: url(../img/anixLogoSim.svg);
    background-size: cover;
    font-size: 0pt;
    top: -2px;
    position: relative;
}

.noPadding {
    padding: 0 !important;
    margin: 0;
}

#textContMainH1:after {
    width: 200px;
    height: 200px;
    display: block;
    font-size: 0pt;
    content: "x-base";
    background-image: url(../img/magLeft.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -200px;
    left: 250px;
    z-index: 10;
}

.funButton {
    background-color: #FD8268;
    color: #fff;
    font-size: 23pt;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 13px;
    text-shadow: 3px 3px 0px #00000088;
    box-shadow: 3px 3px 0 0 #CA5238;
    cursor: pointer;
    transition: ease 0.3s;
    font-family: "Lilita";
    text-transform: uppercase;
    letter-spacing: 2px;
}

.funButton:before {
    background-image: url(../img/lb.png);
    width: 33px;
    height: 18px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    margin: -10px -20px;
}

.funButton:after {
    background-image: url(../img/lbr.png);
    width: 33px;
    background-repeat: no-repeat;
    background-position: right;
    height: 18px;
    content: "bTn";
    font-size: 0;
    display: inline-block;
    position: absolute;
    margin: 27px -13px;
}

.funButton:hover {
    box-shadow: 5px 5px 0 0 #CA5238;
    transform: scale(1.1);
}

.contentBoxFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #532C02;
    transition: 0.8s ease;
}

h1 {
    margin-top: 0;
    display: Inline-block;
    font-family: "Lilita";
    color: #DD2A1B;
    font-size: 30pt;
    letter-spacing: 2px;
    font-weight: normal;
}

h2 {
    margin-top: 0;
    display: Inline-block;
    font-family: "Lilita";
    color: #DD2A1B;
    font-size: 20pt;
    letter-spacing: 2px;
    font-weight: normal;
}

h3 {
    margin: 0 0 15px 0;
    display: Inline-block;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #DD2A1B;
    font-size: 30pt;
    font-weight: bolder;
}

h4 {
    margin: 0 0 15px 0;
    padding: 0;
    display: Inline-block;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #DD2A1B;
    font-size: 20pt;
    font-weight: bolder;
}

p.Tahoma {
    font-family: Tahoma, Helvetica, sans-serif;
}

#ruleDescriber {
    background-color: #ffffffdd;
    box-shadow: 0 0 21px 10px #ffffffdd;
}

.uiList>p {
    padding-left: 60px;
    padding-right: 30px;
    text-align: left;
}

.uiList:before {
    background-color: #FD8268;
    color: #fff;
    font-size: 23pt;
    display: block;
    border-radius: 50px;
    text-shadow: 3px 3px 0px #00000088;
    box-shadow: 3px 3px 0 0 #CA5238;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: fantasy;
    position: absolute;
}

.rankEmbed{
    background-color: #FD8268;
    color: #fff;
    font-size: 18pt;
    display: block;
    border-radius: 50px;
    text-shadow: 3px 3px 0px #00000088;
    box-shadow: 3px 3px 0 0 #CA5238;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: fantasy;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
}

.uiList[uListP="1"]:before {
    content: "1";
}

.uiList[uListP="2"]:before {
    content: "2";
}

#mapAltay {
    width: 48%;
    background-image: url(../img/altMap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 21px 10px #ffffffdd;
    background-color: #ffffffdd;
    background-position-y: top;
}

.researchBox {
    margin-bottom: 30px;
}

#ruleDescriber {
    width: 53%;
    text-align: center;
}

.researchHeader {
    font-family: "Lilita";
    font-size: 30pt;
    color: #fff;
    width: 600px;
    text-align: right;
    border-radius: 0 20px 20px 0;
    padding: 8px 20px;
}

.researchHeader:before {
    width: 602px;
    background-image: url(../img/lbRes.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    background-position: right;
    margin: -4px 16px;
}

.researchHeader[researchColor="brown"] {
    background-color: #8A5A77;
    box-shadow: 0px 5px 0 5px #70485F;

}

.researchHeader[researchColor="brown"]:after {
    background-image: url(../img/magB.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 194px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    background-position: right;
    width: 300px;
    margin-top: -75px;
}

.researchHeader[researchColor="green"] {
    background-color: #B0B828;
    box-shadow: 0px 5px 0 5px #919721;
}

.researchHeader[researchColor="green"]:after {
    background-image: url(../img/magG.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 194px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    background-position: right;
    width: 300px;
    margin-top: -75px;
}

.researchHeader[researchColor="red"] {
    background-color: #DD2A1B;
    box-shadow: 0px 5px 0 5px #B62416;
}

.researchHeader[researchColor="red"]:after {
    background-image: url(../img/magR.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 194px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    background-position: right;
    width: 300px;
    margin-top: -75px;
}

.researchHeader[researchColor="blue"] {
    background-color: #8AC9E8;
    box-shadow: 0px 5px 0 5px #50AEDC;
}

.researchHeader[researchColor="blue"]:after {
    background-image: url(../img/magBl.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 194px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    background-position: right;
    width: 300px;
    margin-top: -75px;
}

.flatButton {
    background-color: #fff;
    color: #FD8268;
    font-size: 15pt;
    display: block;
    width: 200px;
    padding: 9px 20px;
    border-radius: 20px 0 0 20px;
    border: solid 2px #888888;
    border-right: none;
    box-shadow: -5px 5px 0 0 #888888;
    cursor: pointer;
    transition: ease 0.3s;
    font-family: "Lilita";
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease;
    position: relative;
    right: 0px;
    margin-top: 6px;
}

.flatButton:hover {
    transform: scale(1.1);
    right: 15px;
}

.photoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 110px;
    flex-wrap: wrap;
}

.participantContainer>p {
    font-family: Tahoma, Geneva, sans-serif;
    color: #532C02;
    margin: 5px;

}

.participantContainer {
    width: 200px;
    margin: 25px;
}

.participantPhoto {
    width: 200px;
    height: 200px;
    background-color: #888;
    border-radius: 15px;
    background-size: cover;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 0px 15px #00000077;
}

.participantPhoto:hover {
    transform: scale(1.8);
}

.funButtonSmall {
    background-color: #FD8268;
    color: #fff;
    font-size: 13pt;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 10px;
    text-shadow: 3px 3px 0px #00000088;
    box-shadow: 3px 3px 0 0 #CA5238;
    cursor: pointer;
    transition: ease 0.3s;
    font-family: "Lilita";
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 10;
}

.funButtonSmall:before {
    background-image: url(../img/lb.png);
    width: 33px;
    height: 18px;
    content: "bTn";
    font-size: 0;
    display: block;
    position: absolute;
    margin: -7px -10px;
    z-index: 10;
}

.funButtonSmall:after {
    background-image: url(../img/lbr.png);
    width: 33px;
    background-repeat: no-repeat;
    background-position: right;
    height: 18px;
    content: "bTn";
    font-size: 0;
    display: inline-block;
    position: absolute;
    margin: 9px -23px;
    z-index: 10;
}

.funButtonSmall:hover {
    box-shadow: 5px 5px 0 0 #CA5238;
    transform: scale(1.1);
    transition: 0.8s ease;
}

#bgFooter {
    background-image: url(../img/bgFooter.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 570px;
    box-shadow: 0 -150px 150px 7px #FFF;
}

#bigDiscl {
    width: 600px;
    margin-left: calc(50% - 300px);
    transform: rotate(-5deg);
    font-family: "Lilita";
    text-transform: uppercase;
}


.str1 {
    font-size: 50pt;
    margin-left: -200px;
    line-height: 50px;
}

.str2 {
    font-size: 60pt;
    margin-left: 150px;
    line-height: 80px;
}

#conBox {
    transition: 0.8s ease;
}

#hintContainer {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    position: fixed;
    display: flex;
    opacity: 0;
    transition: 1s ease;
    transform: scale3d(2,0.5,3);
}

#idHint {
    background-color: #EFEB8698;
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
    height: 85%;
    margin-top: 25px;
    margin-left: 25%;
    overflow-y: scroll;
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
}

#magRes {
    background: url(../img/magRHint.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 1%;
    right: 20%;
}

#idHint>p {
    margin-left: 50px;
}

#hintHeader {
    font-family: "Lilita";
    font-size: 25pt;
    color: #fff;
    width: 85%;
    text-align: right;
    border-radius: 0 20px 20px 0;
    padding: 8px 40px;
    background-color: #dd2a18;
    box-shadow: 0px 5px 0 5px #bd2012;
    text-shadow: 3px 3px 0px #00000088;
    margin-left: -50px !important;
}

.hintAvgLine {
    font-family: "Lilita";
    font-size: 25pt;
}

#fixed {
    width: 142px;
    position: fixed;
    bottom: -5%;
    opacity: 0;
    left: calc(50% - 71px);
    transition: 1s ease;
    transform: scale3d(2,0.5,3);
}

.fitDigit {
    font-weight: bold;
}

.rank {
    font-weight: bolder;
    font-size: 9pt;
}

#login_popup {
    backdrop-filter: blur(2px);
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: 2000;
}

.login_popup {
    background: #fff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    margin: 35vh auto;
    width: 80vh;
}

#loginPopUp {
    position: fixed;
    width: 500px;
    box-shadow: 0px 0px 150px #424242;
    left: calc(50% - 263px);
    border-radius: 40px;
    border: solid 1px #888888;
    background: #EFEB8698;
    padding: 26px;
    transition: 0.5s ease;
    opacity: 0;
    transform: scale(0);
    margin-top: -100px;
}

#loginPopUp>h1 {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.loginElement {
    display: flex;
    font-family: "Lilita", serif;
    font-size: 30pt;
    flex-direction: column;
    text-align: center;
}

.loginElement>p {
    margin: 10px !important;
    font-size: 20pt;
}

.tel, .name {
    font-size: 30pt;
    font-family: "Lilita", serif;
    border-radius: 20px;
    background: #ffffffbb;
    border: 1px solid #888888;
    padding: 10px 15px;
    width: 450px;
}

#loginPopupExitButton{
    width: 60px;
    height: 60px;
    background: #DD2A1B;
    display: block;
    font-family: "Lilita", serif;
    color:#fff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 0px #7d1810;
    position: absolute;
    margin-top: -50px;
    margin-left: 475px;
}

.option {
    font-size: 25pt;
    font-family: "Lilita", serif;
    border-radius: 20px;
    background: #ffffffbb;
    border: 1px solid #888888;
    padding: 10px 15px;
    width: 480px;
}

#loginStep1 {
    display: block;
}

#loginStep2 {
    display: none;
}

.loginElement>p>.funButton {
    margin-top: 23px;
}

.prizePhoto {
    width: 350px;
    height: 350px;
    position: absolute;
    background-size: contain;
}

#prize1 {
    background-image: url(../img/prizes/prize1big.png);
    margin-left: 45px;
}

#prize2 {
    background-image: url(../img/prizes/prize2big.png);
    margin-left: 280px;
}

#prize3 {
    background-image: url(../img/prizes/prize3big.png);
    margin-left: 600px;
}

.prizeDisclaimer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #00000077;
}

.smallDiscl {
    font-size: 19pt;
    padding: 0;
    background-color: #fff;
    padding: 20px 0;
    margin: 0;
}

#personalDataAgreement {
    width: 25px;
    height: 25px;
}

#errorBox {
    position: fixed;
    width: 500px;
    right: 50px;
    top: -100%;
    background-color: #ff000044;
    border-radius: 25px;
    font-family: "Lilita", serif;
    border: 1px solid #7d1810;
    box-shadow: 5px 5px 0px #b42418;
    backdrop-filter: blur(10px);
    padding: 25px;
    z-index: 9999;
    transition: 0.5s ease;
    opacity: 0;
}

#errorBox>p {
    padding: 0;
    margin: 0;
}

#messageHeader {
    font-size: 30pt;
    color: #7d1810;
}

#messageText {
    font-size: 20pt;
    color: #333;
}

.addNewResearchContentBox {
    padding: 50px;
}

.newResearchLabel {
    font-family: "Lilita", serif;
    font-size: 25pt;
    padding: 0px 35px 0px 0;
    line-height: 35pt;
    width: 300px;
    text-align: left;
}

#newReseachCategotySelect {
    font-size: 25pt;
    font-family: "Lilita", serif;
    background: #ffffffbb;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #888888;
    width: 550px;
}

.newResearchParagraph {
    display: flex;
    flex-direction: revert;
    margin-bottom: 50px;
}

#newResearchName {
    font-size: 25pt;
    font-family: "Lilita", serif;
    border-radius: 6px;
    border: 1px solid #888888;
    width: 520px;
    padding-left: 15px;
    padding-right: 15px;
}

#newResearchText {
    font-size: 15pt;
    font-family: Tahoma, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px solid #888888;
    width: 540px;
    height: 500px;
    padding-left: 5px;
    padding-right: 5px;
}

#newResearchPhoto {
    font-size: 15pt;
    font-family: Tahoma, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px solid #888888;
    width: 520px;
    padding: 15px;
    line-height: 0pt;
}

.flexGrid {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.researchContainer {
    width: 200px;
}

.researchImage {
    float: left;
    margin-right: 25px;
    transition: 0.5s ease;
    cursor: pointer;
}

.researchImage:hover {
    transform: scale(2);
}

.researchBody {
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px 25px;
}

.researcherName {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 30pt;
    color: #DD2A1B;
    padding: 0 25px 0 0;
    margin: 6px;
    text-align: right;
    font-weight: bolder;
}

.researcherAge {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 15pt;
    color: #DD2A1B;
    padding: 0 25px 0 0;
    margin: 6px;
    text-align: right;
    font-weight: bolder;
}

.researcherFrom {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 15pt;
    color: #DD2A1B;
    padding: 0 25px 0 0;
    margin: 6px;
    text-align: right;
    font-weight: bolder;
}