<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
        <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
        <title>Следопыты</title>
    </head>
    <body>
        <div style="margin: 20% auto; font-family: 'Lilita', sans-serif; width: 25%;">
            <h1 style="text-align: center">Открытие 15.09.2022</h1>
        </div>
    </body>
</html>