<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="bodyContainer">
    <div id="bgHeader">
      <div class="horFlexContainer" id="headerHorMain">
        <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
        <p id="headerAnixLogo"></p>
      </div>
      <div id="mainH1" class="Lilita redFont">
        <div id="textContMainH1">
          <p style="font-size: 15pt;">Конкурс</p>
          <p style="font-size: 40pt;">юных</p>
          <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
          <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
            <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
            <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
          </div>
          <div style="height: 56px"></div>
        </div>
      </div>
    </div>
    <div id="conBox">
      <div style="margin: 5% 0;">
        <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
          <a href="{{ url_for('test') }}"><div class="funButton"> < На главную</div></a>
        </div>

        {% if type_research == 'famous_people' %}
            <h1 style="display: block">Добавить новое исследование в раздел "Известные люди"</h1>
        {% elif type_research == 'plants' %}
            <h1 style="display: block">Добавить новое исследование в раздел "Растительный мир"</h1>
        {% elif type_research == 'animals' %}
            <h1 style="display: block">Добавить новое исследование в раздел "Животный мир"</h1>
        {% else %}
            <h1 style="display: block">Добавить новое исследование в раздел "Природные объекты"</h1>
        {% endif %}

        <div class="addNewResearchContentBox">
            {% if current_user.school == None %}
                <div class="newResearchParagraph">
                    <div class="newResearchLabel">
                        <label for="school">Учебное заведение</label>
                    </div>
                    <div>
                        <input id="school" placeholder="Школа/Гимназия 40">
                    </div>
                </div>

                <div class="newResearchParagraph">
                    <div class="newResearchLabel">
                        <label for="ageSelection">Возраст</label>
                    </div>
                    <div>
                        <select id="ageSelection">
                            <option selected>5</option>
                            {% for i in range(6, 80) %}
                                <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="newResearchParagraph">
                    <div class="newResearchLabel">
                        <label for="cityFrom">Откуда ты</label>
                    </div>
                    <div>
                        <input type="text" id="cityFrom" placeholder="Бийск">
                    </div>
                </div>
            {% endif %}

          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchName">Название работы</label>
            </div>
            <div>
              <input type="text" id="newResearchName" placeholder="Название работы">
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchText">Текст работы</label>
            </div>
            <div>
              <textarea id="newResearchText" placeholder="Опиши свою работу здесь"> </textarea>
              <p class="Lilita">Не менее 2000 символов!</p>
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchPhoto">Фото, видео</label>
            </div>
            <div>
              <input accept="image/*,video/*" type="file" multiple id="newResearchPhoto">
            </div>
          </div>
          <div class="newResearchParagraph" style="justify-content: center">
            <div class="funButton" onclick="addResearch('{{ 'false' if current_user.school == None else 'true' }}', '{{ type_research }}', '{{ csrf_token() }}');">Отправить работу</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="errorBox">
    <p id="messageHeader">Test message</p>
    <p id="messageText">You are dead</p>
  </div>
</body>
</html>