<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="bodyContainer">
    <div id="bgHeader">
      <div class="horFlexContainer" id="headerHorMain">
        <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
        <p id="headerAnixLogo"></p>
      </div>
      <div id="mainH1" class="Lilita redFont">
        <div id="textContMainH1">
          <p style="font-size: 15pt;">Конкурс</p>
          <p style="font-size: 40pt;">юных</p>
          <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
          <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
            <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
            <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
          </div>
          <div style="height: 56px"></div>
        </div>
      </div>
    </div>
    <div id="conBox">
      <div style="margin: 5% 0;">
        <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
          <div class="funButton"> < На главную</div>
        </div>
        <h1 style="display: block">Добавить новое исследование</h1>
        <div class="addNewResearchContentBox">
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="school">Школа</label>
            </div>
            <div>
              <input id="school" placeholder="Школа/Гимназия 40">
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="ageSelection">Возраст</label>
            </div>
            <div>
              <select id="ageSelection">
                <option selected>5</option>
                {% for i in range(6, 80) %}
                <option>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="cityFrom">Откуда ты</label>
            </div>
            <div>
              <select id="cityFrom">
                <option selected></option>
                {% for cite in cites %}
                <option>{{ cite.name_city }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newReseachCategotySelect">Раздел</label>
            </div>
            <div>
              <select id="newReseachCategotySelect">
                <option>Известные люди</option>
                <option>Растительный мир</option>
                <option>Животный мир</option>
                <option>Природные объекты</option>
              </select>
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchName">Название работы</label>
            </div>
            <div>
              <input type="text" id="newResearchName" placeholder="Название работы">
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchText">Текст работы</label>
            </div>
            <div>
              <textarea id="newResearchText" placeholder="Опиши свою работу здесь"> </textarea>
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchPhoto">Фото</label>
            </div>
            <div>
              <input type="file" id="newResearchPhoto">
            </div>
          </div>
          <div class="newResearchParagraph" style="justify-content: center">
            <div class="funButton">Отправить работу</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="loginPopUp">
    <dib id="loginPopupExitButton" onclick="closeLoginPopUp()">x</dib>
    <div class="loginElement" id="loginStep1">
      <h1>Вход или регистрация</h1>
      <p><label for="phoneNumber">Номер телефона:</label></p>
      <p>
        <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
      </p>
      <p>
        <button onclick="logIn();" class="funButton">Далее</button>
      </p>
    </div>
    <div class="loginElement" id="loginStep2">
      <h1>Вход по паролю</h1>
      <p><label for="loginPassword">Пароль:</label></p>
      <p>
        <input type="password" class="name" id="loginPassword">
      </p>
      <p>
        <button class="funButton" onclick="/* Процедура входа по паролю */">Войти</button>
      </p>
    </div>
    <div class="loginElement" id="loginStep3">
      <h1>Давай познакомимся!</h1>
      <p><label for="name">Фамилия Имя:</label></p>
      <p>
        <input class="name" id="name" placeholder="Иванов Иван">
      </p>
      <p><label for="signinPassword">Придумай пароль:</label></p>
      <p>
        <input type="password" class="name" id="signinPassword">
      </p>
      <p><label for="signinPasswordRepeat">Еще раз:</label></p>
      <p>
        <input oninput="rejectPasswordInput()" type="password" class="name" id="signinPasswordRepeat">
      </p>
      <p>
        <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на <a href="terms.html" target="_blank">обработку персональных данных</a></label>
      </p>
      <p>
        <button class="funButton" onclick="if(!comparePasswords())return; RegIn();">Зарегистрироваться</button>
      </p>
    </div>
  </div>
  <div id="errorBox">
    <p id="messageHeader">Test message</p>
    <p id="messageText">You are dead</p>
  </div>
</body>
</html>