<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="bodyContainer">
  <div id="bgHeader">
    <div class="horFlexContainer" id="headerHorMain">
      <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
      <p id="headerAnixLogo"></p>
    </div>
    <div id="mainH1" class="Lilita redFont">
      <div id="textContMainH1">
        <p style="font-size: 15pt;">Конкурс</p>
        <p style="font-size: 40pt;">юных</p>
        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
          <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
          <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
        </div>
        <div style="height: 56px"></div>
      </div>
    </div>
  </div>
  <div id="conBox">
    <div style="margin: 5% 0;">
      <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
        <a href="{{ url_for('test') }}"><div class="funButton"> < На главную</div></a>
      </div>
      <!-- Показывай нужную плашку на выбор -->
        {% if type_category == 'famous_people' %}
            <div class="researchHeader" researchColor="brown">Известные люди</div>
        {% elif type_category == 'plants' %}
            <div class="researchHeader" researchColor="green">Растительный мир</div>
        {% elif type_category == 'animals' %}
            <div class="researchHeader" researchColor="red">Животный мир</div>
        {% else %}
            <div class="researchHeader" researchColor="blue">Природные объекты</div>
        {% endif %}
    </div>
    <h1>Вы можете проголосовать за <span id="count_allow_votes">{{ count_votes_user }}</span> работы</h1>
    <div class="flexGrid">
        {% if get_research_with_categorys %}
            {% for get_research_with_category in get_research_with_categorys %}
                <div class="participantContainer">
                    <div class="participantPhoto" onclick="window.location.replace('{{ url_for('research', id_research=get_research_with_category.id) }}')" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+get_research_with_category.main_photo_path)+')' if get_research_with_category.main_photo_path else ''}}"></div>
                    <p>{{ get_research_with_category.FIO }}, {{ get_research_with_category.age }} лет</p>
                    <p>{{ get_research_with_category[5] }} голосов</p>
                    <div class="funButtonSmall" onclick="vote({{ get_research_with_category.id }}, '{{ current_user.is_authenticated() }}', '{{ current_user.id }}');">Проголосовать</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="participantContainer">
                <div class="participantPhoto"></div>
                <p>Имя Фамилия, 0 лет</p>
                <p>0 голосов</p>
                <div class="funButtonSmall">Проголосовать</div>
            </div>
        {% endif %}
    </div>
  </div>
    <div id="bgFooter" class="redFont" style="display: none;"></div>
</div>
<div id="loginPopUp">
    <div id="loginPopupExitButton" onclick="closeLoginPopUp()">x</div>
    <div class="loginElement" id="loginStep1">
        <h1>Вход или регистрация</h1>
        <p><label for="phoneNumber">Номер телефона:</label></p>
        <p>
            <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
        </p>
        <p>
            <button onclick="logIn();" class="funButton">Далее</button>
        </p>
    </div>
    <div class="loginElement" id="loginStep2">
        <h1>Вход по паролю</h1>
        <p><label for="loginPassword">Пароль:</label></p>
        <p>
            <input type="password" class="name" id="loginPassword" name="loginPassword">
        </p>
        <p>
            <button class="funButton" onclick="logIn();">Войти</button>
        </p>
    </div>
    <div class="loginElement" id="loginStep3">
        <h1>Давай познакомимся!</h1>
        <p><label for="name">Фамилия Имя:</label></p>
        <p>
            <input class="name" id="name" placeholder="Иванов Иван">
        </p>
        <p><label for="signinPassword">Придумай пароль:</label></p>
        <p>
            <input type="password" class="name" id="signinPassword">
        </p>
        <p><label for="signinPasswordRepeat">Еще раз:</label></p>
        <p>
            <input oninput="rejectPasswordInput()" type="password" class="name" id="signinPasswordRepeat">
        </p>
        <p>
            <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на <a href="terms.html" target="_blank">обработку персональных данных</a></label>
        </p>
        <p>
            <button class="funButton" onclick="if(!comparePasswords())return; RegIn();">Зарегистрироваться</button>
        </p>
    </div>
</div>
<div id="errorBox">
  <p id="messageHeader">Test message</p>
  <p id="messageText">You are dead</p>
</div>
</body>
</html>