<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <link rel="stylesheet" type="text/css" href="../static/css/itc-slider.css">
  <script src="../static/js/itc-slider.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="bodyContainer">
    <div id="bgHeader">
      <div class="horFlexContainer" id="headerHorMain">
        <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
        <p id="headerAnixLogo"></p>
      </div>
      <div id="mainH1" class="Lilita redFont">
        <div id="textContMainH1">
          <p style="font-size: 15pt;">Конкурс</p>
          <p style="font-size: 40pt;">юных</p>
          <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
          <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
            <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
            <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
          </div>
          <div style="height: 56px"></div>
        </div>
      </div>
    </div>
    <div id="conBox">
      <div style="margin: 5% 0;">
        <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
          <a href="{{ url_for('test') }}"><div class="funButton"> < На главную</div></a>
        </div>
        <div class="addNewResearchContentBox">
            <div class="container">
                <div class="slider" data-slider="itc-slider" data-loop="false">
                    <div class="slider__container">
                      <div class="slider__wrapper">
                        <div class="slider__items">
                            <div class="slider__item" style="background-image: url({{ url_for('static', filename='img/reseach_img/'+check_research.main_photo_path) }})"></div>
                            {% for photo in check_research.photos %}
                                <div class="slider__item" style="background-image: url({{ url_for('static', filename='img/reseach_img/'+photo) }})"></div>
                            {% endfor %}
                            {% for video in check_research.videos %}
                                <div class="slider__item" style="display: flex;justify-content: center;"><video style="justify-content: center;height: 100%" src="{{ url_for('static', filename='img/reseach_img/'+video) }}" preload="auto" controls=""></video></div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    <button class="slider__control" data-slide="prev"></button>
                    <button class="slider__control" data-slide="next"></button>
                </div>
            </div>
            <span>Изменения порядка фотографий</span>
            <div class="photoContainer tasks__list" style="padding-top: 0;">
                <div class="participantPhoto_vlad tasks__item" data-img="{{ check_research.main_photo_path }}" style="margin: 12px; background-image: url({{ url_for('static', filename='img/reseach_img/'+check_research.main_photo_path) }})"></div>
                {% for photo in check_research.photos %}
                    <div class="participantPhoto_vlad tasks__item" data-img="{{ photo }}" style="margin: 12px; background-image: url({{ url_for('static', filename='img/reseach_img/'+photo) }})"></div>
                {% endfor %}
            </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchName">Название работы</label>
            </div>
            <div>
              <input type="text" id="newResearchName" placeholder="Название работы" value="{{ check_research.name }}">
            </div>
          </div>
          <div class="newResearchParagraph">
            <div class="newResearchLabel">
              <label for="newResearchText">Текст работы</label>
            </div>
            <div>
                <div id="newResearchText">{{ check_research.about|safe }}</div>
                <script>
                    ClassicEditor.create(document.getElementById("newResearchText"), {
                        toolbar: {
                            items: [
                                'heading', '|', 'bold', 'italic',  '|', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|',
                                'undo', 'redo', 'blockQuote'
                            ],
                            shouldNotGroupWhenFull: true
                        },
                        heading: {
                            options: [
                                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                            ]
                        },
                        placeholder: 'Опиши свою работу здесь',
                    });
                </script>
                <script>
                    window.onload = function () {
                        document.getElementsByClassName('ck-editor')[0].style = 'min-width: 550px;max-width: 550px;width: 550px;height: 500px;min-height: 500px;max-height: 500px;resize: none;';
                    };
                </script>
              <p class="Lilita">Не менее 2000 символов!</p>
            </div>
          </div>
          <div class="newResearchParagraph" style="justify-content: center">
              <div class="funButton" onclick="EditResearch({{ current_user.id }}, {{ check_research.id }}, '{{ csrf_token() }}');">Сохранить</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="errorBox">
    <p id="messageHeader">Test message</p>
    <p id="messageText">You are dead</p>
  </div>
  <div id="loadBox" style="display: none;">
    <p id="loadMessageHeader">Загрузка</p>
    <p id="loadMessageText">Ваша работа, загружается. Пожалуйста подождите</p>
  </div>
<script src="../static/js/main.js"></script>
<script src="../static/js/DramAndBaaas.js"></script>
</body>
</html>