<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>Следопыты</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
        <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
        <script src="../static/js/script.js"></script>
        <script src="../static/js/main.js"></script>
        <meta name="csrf-token" content="{{ csrf_token() }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="bodyContainer">
            <div id="bgHeader">
                <div class="horFlexContainer" id="headerHorMain">
                    <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
                    <p id="headerAnixLogo"></p>
                </div>
                <div id="mainH1" class="Lilita redFont">
                    <div id="textContMainH1">
                        <p style="font-size: 15pt;">Конкурс</p>
                        <p style="font-size: 40pt;">юных</p>
                        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
                        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
                            <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
                            <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
                        </div>
                        <div class="funButton" onclick="showLoginPopUp()">Регистрируйся</div>
                    </div>
                </div>
            </div>
            <div id="conBox">
                <div class="contentBoxFlex">
                    <div id="mapAltay">

                    </div>
                    <div id="ruleDescriber">
                        <h1>Стать участником просто:</h1>
                        <div class="uiList" uListP="1">
                            <p class="Tahoma">Выбери тему:</p>
                            <p class="Tahoma"><b>Известные люди</b> &mdash; расскажи о людях, которые жили или живут в твоём регионе. Почему они стали великими? Чем они вдохновляют тебя?</p>
                            <p class="Tahoma"><b>Растительный мир</b> &mdash; какие травы, деревья и сельскохозяйственные культуры растут у нас. Расскажи об их пользе, как их применяют.</p>
                            <p class="Tahoma"><b>Животный мир</b> &mdash; исследуй животных, птиц или рыб родного края и расскажи про них.</p>
                            <p class="Tahoma"><b>Природные объекты</b> &mdash; какие реки, озёра, горы или другие природные объекты находятся рядом с тобой.</p>
                        </div>
                        <div class="uiList" uListP="2">
                            <p class="Tahoma">Нажми в соответствующем разделе на кнопку <b>«Добавить&nbsp;свое&nbsp;исследование»</b></p>
                        </div>
                        <div class="funButton" onclick="showHint()">Читать подробнее</div>
                    </div>
                </div>
                <div style="margin: 5% 0;">
                    <p style="font-size: 40pt; color: #DD2A1B; margin: 20px 0px; font-family: 'Lilita', serif;">Рейтинг юных исследователей</p>
                    <div class="photoContainer" style="padding-top: 0px">
                        {% if random_users != None %}
                            {% for random_user in random_users %}
                                <div class="participantContainer">
                                    <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+random_user.main_photo_path)+')' if random_user.main_photo_path else ''}}"></div>
                                    <p>{{ random_user.FIO }}</p>
                                    {% if random_user[4] == 1 %}
                                        <p class="rank">Юный исследователь</p>
                                    {% elif random_user[4] == 2 %}
                                        <p class="rank">Следопыт</p>
                                    {% elif random_user[4] >= 3 %}
                                        <p class="rank">Следопыт-супергерой</p>
                                    {% endif %}
                                    <p><span class="fitDigit">{{ random_user[4] }}</span> исследований</p>
                                    <p><span class="fitDigit">{{ random_user[5] }}</span> голосов</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="participantContainer">
                                <div class="participantPhoto"></div>
                                <p>Иванов Иван</p>
                                <p class="rank">Следопыт-супергерой</p>
                                <p><span class="fitDigit">0</span> исследований</p>
                                <p><span class="fitDigit">0</span> голосов</p>
                            </div>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('rating') }}"><div class="funButtonSmall">Рейтинг юных исследователей</div></a>
                </div>
                <h1>Запомни, мира не узнаешь, не зная края своего!</h1>
                <div class="researchBox">
                    <div class="horFlexContainer">
                        <div class="researchHeader" researchColor="brown">Известные люди</div>
                        <a href="{{ url_for('add_research', type_research='famous_people') }}" style="text-decoration: none;"><div class="flatButton">Добавить свое исследование</div></a>
                    </div>
                    <div class="photoContainer">
                        {% for research_famous_person in research_famous_people %}
                            <div class="participantContainer" onclick="window.location.replace('{{ url_for('research', id_research=research_famous_person.id) }}')">
                                <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+research_famous_person.main_photo_path)+')' if research_famous_person.main_photo_path else ''}}"></div>
                                <p>{{ research_famous_person.name }}</p>
                                <p>{{ research_famous_person.FIO }}</p>
                            </div>
                        {% else %}
                            <div class="participantContainer">
                                <div class="participantPhoto"></div>
                                <p>Название работы</p>
                                <p>Автор</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="funButtonSmall" onclick="window.location.replace('{{ url_for('category', type_category='famous_people') }}')">Показать все исследования</div>
                </div>
                <div class="researchBox">
                    <div class="horFlexContainer">
                        <div class="researchHeader" researchColor="green">Растительный мир</div>
                        <a href="{{ url_for('add_research', type_research='plants') }}" style="text-decoration: none;"><div class="flatButton">Добавить свое исследование</div></a>
                    </div>
                    <div class="photoContainer">
                        {% for research_plant in research_plants %}
                            <div class="participantContainer" onclick="window.location.replace('{{ url_for('research', id_research=research_plant.id) }}')">
                                <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+research_plant.main_photo_path)+')' if research_plant.main_photo_path else ''}}"></div>
                                <p>{{ research_plant.name }}</p>
                                <p>{{ research_plant.FIO }}</p>
                            </div>
                        {% else %}
                            <div class="participantContainer">
                                <div class="participantPhoto"></div>
                                <p>Название работы</p>
                                <p>Автор</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="funButtonSmall" onclick="window.location.replace('{{ url_for('category', type_category='plants') }}')">Показать все исследования</div>
                </div>
                <div class="researchBox">
                    <div class="horFlexContainer">
                        <div class="researchHeader" researchColor="red">Животный мир</div>
                        <a href="{{ url_for('add_research', type_research='animals') }}" style="text-decoration: none;"><div class="flatButton">Добавить свое исследование</div></a>
                    </div>
                    <div class="photoContainer">
                        {% for research_animal in research_animals %}
                            <div class="participantContainer" onclick="window.location.replace('{{ url_for('research', id_research=research_animal.id) }}')">
                                <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+research_animal.main_photo_path)+')' if research_animal.main_photo_path else ''}}"></div>
                                <p>{{ research_animal.name }}</p>
                                <p>{{ research_animal.FIO }}</p>
                            </div>
                        {% else %}
                            <div class="participantContainer">
                                <div class="participantPhoto"></div>
                                <p>Название работы</p>
                                <p>Автор</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="funButtonSmall" onclick="window.location.replace('{{ url_for('category', type_category='animals') }}')">Показать все исследования</div>
                </div>
                <div class="researchBox">
                    <div class="horFlexContainer">
                        <div class="researchHeader" researchColor="blue">Природные объекты</div>
                        <a href="{{ url_for('add_research', type_research='nature_object') }}" style="text-decoration: none;"><div class="flatButton">Добавить свое исследование</div></a>
                    </div>
                    <div class="photoContainer">
                        {% for research_nature_object in research_nature_objects %}
                            <div class="participantContainer" onclick="window.location.replace('{{ url_for('research', id_research=research_nature_object.id) }}')">
                                <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+research_nature_object.main_photo_path)+')' if research_nature_object.main_photo_path else ''}}"></div>
                                <p>{{ research_nature_object.name }}</p>
                                <p>{{ research_nature_object.FIO }}</p>
                            </div>
                        {% else %}
                            <div class="participantContainer">
                                <div class="participantPhoto"> </div>
                                <p>Название работы</p>
                                <p>Автор</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="funButtonSmall" onclick="window.location.replace('{{ url_for('category', type_category='nature_object') }}')">Показать все исследования</div>
                </div>
            </div>
            <div id="bgFooter" class="redFont">
                <p class="smallDiscl Lilita">Все участники получат призы!</p>
                <div id="bigDiscl">
                    <div class="str1">Главные</div>
                    <div class="str2">призы</div>
                </div>
                <div class="prizePhoto" id="prize1"></div>
                <div class="prizePhoto" id="prize2"></div>
                <div class="prizePhoto" id="prize3"></div>
                <p class="prizeDisclaimer Lilita">* Внешний вид и модель призов могут отличаться от представленных</p>
            </div>
            <div id="hintContainer">
                <div class="funButton" id="fixed" onclick="closeHint()">Закрыть</div>
                <div id="idHint">
                    <p id="hintHeader">Запомни, мира не узнаешь, не зная края своего!</p>
                    <p class="hintRichLine">Дорогой исследователь родного края.</p>
                    <p>Мы рады приветствовать тебя на страничке юных следопытов. Если ты читаешь это обращение, значит ты готов вместе с нами отправиться в увлекательное путешествие по просторам родных мест.</p>
                    <p>Период проведения конкурса:</p>
                    <p>С 15 сентября по 13 октября принимаем ваши исследования.</p>
                    <p>20 октября мы подведем итоги.</p>
                    <p>Чем больше исследований ты проведешь, тем выше будет становиться твое звание. Каждый участник получит гарантированный приз в зависимости от своего звания:</p>
                    <p>1 исследование &mdash; «Юный исследователь» - значок и сладкий приз</p>
                    <p>2 исследования &mdash; «Следопыт» - удобный блокнот для твоих исследований и бандана</p>
                    <p>3 и более исследования - «Следопыт-супергерой» - рюкзак и бутылка для твоих активных прогулок</p>
                    <p>Среди всех участников команда жюри определит трех главных победителей и в зависимости от призового места подарит им отличные призы:</p>
                    <p>1 место - электрический самокат</p>
                    <p>2 место - велосипед для трюков BMX</p>
                    <p>3 место - велосипед для увлекательных поездок</p>
                    <p>Мы ценим ваше творчество и поэтому, при выборе победителей, будем обращать внимание на уникальность текста и фото каждой работы!</p>
                    <p class="hintAvgLine">А теперь подробнее о твоем исследовании!</p>
                    <p>Ты живешь в уникальном месте, тебя окружает богатый природный мир: животные, птицы, растения, озера, реки, горы...</p>
                    <p class="noPadding">Знаешь ли ты историю своего любимого места?</p>
                    <p class="noPadding">Легенду о горе, которую видишь из окна дома?</p>
                    <p class="noPadding">Где зимует птичка, которая летом поет тебе песни?</p>
                    <p class="noPadding">А сколько длиной речка, в который ты купаешься летом?</p>
                    <p class="noPadding">Какие великие люди жили и живут в твоем крае?</p>
                    <p class="noPadding">Как они стали великими?</p>
                    <p class="noPadding">Видишь, сколько всего интересного вокруг!</p>
                    <p>Выбери тему на карте главной страницы, которая интересует тебя больше весго:</p>
                    <p class="noPadding">Известные люди</p>
                    <p class="noPadding">Растительный мир</p>
                    <p class="noPadding">Животный мир</p>
                    <p class="noPadding">Природные объекты</p>
                    <p>Выбери конкретный объект, про который ты хочешь рассказать, например:</p>
                    <p class="noPadding">река Катунь, гора Пикет, исатель Василий Макарович Шукшин.</p>
                    <p class="noPadding">Далее начни исследование этого объекта.</p>
                    <p class="noPadding">Узнай о нем как можно больше и напиши свой доклад.</p>
                    <p class="noPadding">Обязательно расскажи, почему ты выбрал именно эту тему.</p>
                    <p class="noPadding">Сфотографируй это места или объект твоего изучения, можешь снять видео, а мы с удовольствием его посмотрим!</p>
                    <p class="noPadding">Если удастся сделать фото исследуемого объекта самому, то это станет твоим преимушеством!</p>
                    <p class="noPadding">После того, как ты сохранишь работу, она отобразится в блоках по тематикам и все желающие смогут познакомиться с ней, а так же отдать свой голос тебе!</p>
                    <p class="noPadding">Работа, которая наберет больше всего голосов, получит звание «Приз зрительских симпатий», а победитель получит познавательные книги или энциклопедию в подарок.</p>
                    <p class="hintAvgLine">Ждем ваши работы и желаем удачи!</p>
                    <p class="hintAvgLine">Исследуй родной край с «Аникс»!</p>
                </div>
                <div id="magRes"></div>
            </div>
        </div>
        <div id="loginPopUp">
            <div id="loginPopupExitButton" onclick="closeLoginPopUp()">x</div>
            <div class="loginElement" id="loginStep1">
                <h1>Вход или регистрация</h1>
                <p><label for="phoneNumber">Номер телефона:</label></p>
                <p>
                    <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
                </p>
                <p>
                    <button onclick="logIn();" class="funButton">Далее</button>
                </p>
            </div>
            <div class="loginElement" id="loginStep2">
                <h1>Вход по паролю</h1>
                <p><label for="loginPassword">Пароль:</label></p>
                <p>
                    <input type="password" class="name" id="loginPassword" name="loginPassword">
                </p>
                <p>
                    <button class="funButton" onclick="logIn();">Войти</button>
                </p>
            </div>
            <div class="loginElement" id="loginStep3">
                <h1>Давай познакомимся!</h1>
                <p><label for="name">Фамилия Имя:</label></p>
                <p>
                    <input class="name" id="name" placeholder="Иванов Иван">
                </p>
                <p><label for="signinPassword">Придумай пароль:</label></p>
                <p>
                    <input type="password" class="name" id="signinPassword">
                </p>
                <p><label for="signinPasswordRepeat">Еще раз:</label></p>
                <p>
                    <input oninput="rejectPasswordInput()" type="password" class="name" id="signinPasswordRepeat">
                </p>
                <p>
                    <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на <a href="terms.html" target="_blank">обработку персональных данных</a></label>
                </p>
                <p>
                    <button class="funButton" onclick="if(!comparePasswords())return; RegIn();">Зарегистрироваться</button>
                </p>
            </div>
        </div>
        <div id="errorBox">
            <p id="messageHeader">Test message</p>
            <p id="messageText">You are dead</p>
        </div>
    </body>
</html>