<!DOCTYPE html>
<html lang="rus">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Вход/Регистрация</title>
</head>
<body>
	<div class="conteiner">
		<div class="content">
			<div class="main_text">
				<p class="hello">Здравствуй!</p>
				<p class="enter">Пожалуйста, введите данные для входа/регистрации.</p>
			</div>
			<form method="POST" class="login_form" id="form_reg">
				<div class="inputs_and_text">
					<div>
						<label class="login" for="FIO">ФИО</label>
						<input style="{{ 'border: 2px solid #FF3838;' if input == 'fio' else '' }}" pattern="^(([+][0-9]{1,3})[0-9]{10})|(8+[0-9]{10})$" value="{{ fio or '' }}" type="text" name="FIO" id="FIO" placeholder="Иванов Иван Иванович" required onclick="this.style.border = ''; document.getElementById('input_login').style.display = 'none';">
						<p style="{{'display: block;' if input == 'fio' else 'display: none;'}}" class="error" id="input_login">ФИО введено не корректно</p>
					</div>
					<div>
						<label class="password" for="tel">Номер телефона</label>
						<input style="{{ 'border: 2px solid #FF3838;' if input == 'tel' else '' }}" pattern="^([а-яА-Я]{2,}) ([а-яА-Я]{2,})(()|( [а-яА-Я]{2,}))$" value="{{ tel or '' }}" type="tel" name="tel" id="tel" placeholder="+79876543210" required onclick="this.style.border = ''; document.getElementById('input_password').style.display = 'none';">
						<p style="{{'display: block;' if input == 'tel' else 'display: none;'}}" class="error" id="input_password">Номер телефона введён не корректно</p>
					</div>
				</div>
				<div>
					<button class="btn" type="button" name="button" onclick="get_city();">Войти</button>
					<p class="create_ac">Если вы сдесь в первые, просто введите данные и вы сразу зарегестрируетесь</p>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
