<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="bodyContainer">
  <div id="bgHeader">
    <div class="horFlexContainer" id="headerHorMain">
      <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
      <p id="headerAnixLogo"></p>
    </div>
    <div id="mainH1" class="Lilita redFont">
      <div id="textContMainH1">
        <p style="font-size: 15pt;">Конкурс</p>
        <p style="font-size: 40pt;">юных</p>
        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
          <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
          <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
        </div>
        <div style="height: 56px"></div>
      </div>
    </div>
  </div>
  <div id="conBox">
    <div style="margin: 5% 0;">
      <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
          <a href="{{ url_for('test') }}"><div class="funButton"> < На главную</div></a>
      </div>
      <h1 style="display: block">Рейтинг юных исследователей</h1>
    </div>
    <div class="flexGrid">
        {% if top_users != None %}
            {% for i in range(top_users|length) %}
                <div class="participantContainer" onclick="window.location.replace('{{ url_for('research', id_research=top_users[i].id) }}')">
                    <div class="rankEmbed">{{ i + 1 }}</div>
                    <div class="participantPhoto" style="{{ 'background-image: url('+url_for('static', filename='img/reseach_img/'+top_users[i].main_photo_path)+')' if top_users[i].main_photo_path else ''}}"></div>
                    <p>{{ top_users[i].FIO }}</p>
                    <p>{{ top_users[i].age }} лет</p>
                    {% if top_users[i].count_research == 1 %}
                        <p class="rank">Юный исследователь</p>
                    {% elif top_users[i].count_research == 2 %}
                        <p class="rank">Следопыт</p>
                    {% elif top_users[i].count_research >= 3 %}
                        <p class="rank">Следопыт-супергерой</p>
                    {% endif %}
                    <p>{{ top_users[i].count_research }} исследований</p>
                    <p><span id="count_votes">{{ top_users[i].count_votes }}</span> голосов</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="participantContainer">
                <div class="rankEmbed">1</div>
                <div class="participantPhoto"></div>
                <p>Имя Фамилия, 0 лет</p>
                <p class="rank">Ньюфаг</p>
                <p>0 исследований</p>
                <p>0 голосов</p>
            </div>
        {% endif %}

    </div>
  </div>
</div>
<div id="errorBox">
  <p id="messageHeader">Test message</p>
  <p id="messageText">You are dead</p>
</div>
</body>
</html>