<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="bodyContainer">
  <div id="bgHeader">
    <div class="horFlexContainer" id="headerHorMain">
      <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
      <p id="headerAnixLogo"></p>
    </div>
    <div id="mainH1" class="Lilita redFont">
      <div id="textContMainH1">
        <p style="font-size: 15pt;">Конкурс</p>
        <p style="font-size: 40pt;">юных</p>
        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
          <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
          <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
        </div>
        <div style="height: 56px"></div>
      </div>
    </div>
  </div>
  <div id="conBox">
    <div style="margin: 5% 0;">
      <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
        <div class="funButton"> < На главную</div>
      </div>
      <h1 style="display: block">Рейтинг юных исследователей</h1>
    </div>
    <div class="flexGrid">
      <div class="participantContainer">
        <div class="rankEmbed">1</div>
        <div class="participantPhoto"></div>
        <p>Имя Фамилия, 0 лет</p>
        <p class="rank">Ньюфаг</p>
        <p>0 исследований</p>
        <p>0 голосов</p>
        <div class="funButtonSmall">Проголосовать</div>
      </div>
    </div>
  </div>
</div>
<div id="loginPopUp">
  <dib id="loginPopupExitButton" onclick="closeLoginPopUp()">x</dib>
  <div class="loginElement" id="loginStep1">
    <h1>Вход или регистрация</h1>
    <p><label for="phoneNumber">Номер телефона:</label></p>
    <p>
      <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
    </p>
    <p>
      <button onclick="logIn();" class="funButton">Войти</button>
    </p>
  </div>
  <div class="loginElement" id="loginStep2">
    <h1>Давай познакомимся!</h1>
    <p><label for="name">Фамилия Имя:</label></p>
    <p>
      <input class="name" id="name" placeholder="Иванов Иван">
    </p>
    <p><label for="school">Школа:</label></p>
    <p>
      <input class="name" id="school" placeholder="Школа №123">
    </p>
    <p><label for="ageSelection">Возраст:</label></p>
    <p>
      <select id="ageSelection" class="option">
        <option selected>5</option>
        {% for i in range(6, 80) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </p>
    <p><label for="cityFrom">Откуда ты:</label></p>
    <p>
      <select id="cityFrom" class="option">
        <option selected></option>
        {% for cite in cites %}
        <option>{{ cite.name_city }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на обработку персональных данных</label>
    </p>
    <p>
      <button class="funButton" onclick="RegIn();">Зарегистрироваться</button>
    </p>
  </div>
</div>
<div id="errorBox">
  <p id="messageHeader">Test message</p>
  <p id="messageText">You are dead</p>
</div>
</body>
</html>