<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/itc-slider.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/itc-slider.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="bodyContainer">
  <div id="bgHeader">
    <div class="horFlexContainer" id="headerHorMain">
      <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
      <p id="headerAnixLogo"></p>
    </div>
    <div id="mainH1" class="Lilita redFont">
      <div id="textContMainH1">
        <p style="font-size: 15pt;">Конкурс</p>
        <p style="font-size: 40pt;">юных</p>
        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
          <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
          <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
        </div>
        <div style="height: 56px"></div>
      </div>
    </div>
  </div>
  <div id="conBox">
    <div style="margin: 5% 0;">
      <div style="margin-bottom: 75px; text-align: left; margin-left: 25px;">
        <a href="{{ url_for('test') }}"><div class="funButton"> < На главную</div></a>
      </div>
      <h3 style="display: block">{{check_research.name}}</h3>
        {% if check_research.type_research == 'famous_people' %}
            <h4 style="display: block">Известные люди</h4>
        {% elif check_research.type_research == 'plants' %}
            <h4 style="display: block">Растительный мир</h4>
        {% elif check_research.type_research == 'animals' %}
            <h4 style="display: block">Животный мир</h4>
        {% else %}
            <h4 style="display: block">Природные объекты</h4>
        {% endif %}

      <div class="researchBody">
        <div class="container">
          <div class="slider" data-slider="itc-slider" data-loop="false">
            <div class="slider__container">
              <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item" style="background-image: url({{ url_for('static', filename='img/reseach_img/'+check_research.main_photo_path) }})">
                    {% for photo in check_research.photos %}
                        <div class="slider__item" style="background-image: url({{ url_for('static', filename='img/reseach_img/'+photo) }})">
                    {% endfor %}
                </div>
              </div>
            </div>
            <button class="slider__control" data-slide="prev"></button>
            <button class="slider__control" data-slide="next"></button>
          </div>
            {% for video in check_research.videos %}
                <video src="{{ url_for('static', filename='img/reseach_img/'+video) }}" preload="auto"></video>
            {% endfor %}
        </div>
        {{ check_research.about }}
      </div>
      <div class="researchAuthorBox">
        <p class="researcherName">{{ check_research.FIO }}</p>
        <p class="researcherAge">{{ check_research.age }} лет</p>
        <p class="researcherFrom">{{ check_research.city }}, {{ check_research.school }}</p>
      </div>
    </div>
    <div class="funButton">Проголосовать</div>
    <h1 style="margin-top: 25px">Вы можете проголосовать еще 3 раза</h1>
  </div>
</div>
<div id="loginPopUp">
  <dib id="loginPopupExitButton" onclick="closeLoginPopUp()">x</dib>
  <div class="loginElement" id="loginStep1">
    <h1>Вход или регистрация</h1>
    <p><label for="phoneNumber">Номер телефона:</label></p>
    <p>
      <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
    </p>
    <p>
      <button onclick="logIn();" class="funButton">Далее</button>
    </p>
  </div>
  <div class="loginElement" id="loginStep2">
    <h1>Вход по паролю</h1>
    <p><label for="loginPassword">Пароль:</label></p>
    <p>
      <input type="password" class="name" id="loginPassword">
    </p>
    <p>
      <button class="funButton" onclick="/* Процедура входа по паролю */">Войти</button>
    </p>
  </div>
  <div class="loginElement" id="loginStep3">
    <h1>Давай познакомимся!</h1>
    <p><label for="name">Фамилия Имя:</label></p>
    <p>
      <input class="name" id="name" placeholder="Иванов Иван">
    </p>
    <p><label for="signinPassword">Придумай пароль:</label></p>
    <p>
      <input type="password" class="name" id="signinPassword">
    </p>
    <p><label for="signinPasswordRepeat">Еще раз:</label></p>
    <p>
      <input oninput="rejectPasswordInput()" type="password" class="name" id="signinPasswordRepeat">
    </p>
    <p>
      <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на <a href="terms.html" target="_blank">обработку персональных данных</a></label>
    </p>
    <p>
      <button class="funButton" onclick="if(!comparePasswords())return; RegIn();">Зарегистрироваться</button>
    </p>
  </div>
</div>
<div id="errorBox">
  <p id="messageHeader">Test message</p>
  <p id="messageText">You are dead</p>
</div>
</body>
</html>