<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Следопыты</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/style_for_index.css">
  <script src="../static/js/script.js"></script>
  <script src="../static/js/main.js"></script>
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="bodyContainer">
  <div id="bgHeader">
    <div class="horFlexContainer" id="headerHorMain">
      <p id="iPeriodBubble" class="Lilita redFont" >15 сентября - 13 октября</p>
      <p id="headerAnixLogo"></p>
    </div>
    <div id="mainH1" class="Lilita redFont">
      <div id="textContMainH1">
        <p style="font-size: 15pt;">Конкурс</p>
        <p style="font-size: 40pt;">юных</p>
        <p style="font-size: 40pt; margin-bottom: 6px">следопытов</p>
        <div style="justify-content: center; margin-bottom: 20px;" class="horFlexContainer">
          <p style="font-size: 15pt; z-index: 12" class="noPadding">Познавай родной край вместе с</p>
          <p class="inlineLogo noPadding" style="z-index: 15">Аникс</p>
        </div>
        <div class="funButton" onclick="showLoginPopUp()" style="display: none">Регистрируйся</div>
      </div>
    </div>
  </div>
  <div id="conBox">
    <a href="{{ url_for('test') }}"><div class="funButton">На главную</div></a><br><br><br><br>
    <h1 class="sm_marg">Результаты конкурса</h1>
    <p class="rew_txt">Спасибо всем за участие, все работы были очень интересные.</p>
    <p class="rew_txt">Мы поздравляем вас и хотим подарить подарки за ваш труд.</p>
    <p class="rew_txt">Вы можете ознакомиться с итогами и посмотреть в таблице, какой приз вы выиграли.</p>
    <p class="rew_txt">Всем участникам будут отправлены смс с информацией, где вы можете забрать свой приз, если вам не пришло смс, обратитесь по телефону горячей линии 8-800-100-88-10</p>
    <div>
      <div class="wtr rank4"><p class="">	Имя	</p><p>	 Звание	</p><p>	Кол-во исследований	</p><p>	Приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Чернова Алина	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Дырда Арсений	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Ирина Суханова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Дырда Матвей	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Рузанов Артур	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Цейко Арина	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Маша кислова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Михаил Винников	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Корчуганова Маргарита	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Паромова Юлия	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Колесников Даниил	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Гаврилова Диана	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Ирина Колосова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Седых Владислава	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Пехньо Виолетта	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Лера трухина	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Дарья кормильцева	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Лоскутов Владислав	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Снитко Влад	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Рожков Олег	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Гаврилова Диана	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Шкляр Варвара	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Кислова мария	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Усов Андрей	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Краев Федор	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Виктория Булгакова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Юлия Громова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Кобякова Анастасия	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Родионов Данил	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	визитка педагога	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Анжела Чикова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Арабская Софья	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Бодагов Степан	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Лев Колосов	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Лилия Ершова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Бодагов Дмитрий	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Эльвира Назарова	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Журко Даниил	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Игнатьева Дмитрия	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Шишкина София	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Козырева Анна	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Масливченко Ксения	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank3"><p class="wtr_name">	Зубарев Александр	</p><p>	 Юный исследователь	</p><p>	1	</p><p>	Значок и сладкий приз 	</p></div>
      <div class="wtr rank2"><p>	Попова Алена	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Свириденко Лариса	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Антонов Артем	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Гущина Маша	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Мария Тырина	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Сурков Арсений	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Родионова Александра	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Плотоненко Артем	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Дьяченко Дмитрий	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank2"><p>	Никифоров Максим	</p><p>	 Следопыт	</p><p>	2	</p><p>	 Удобный блокнот для твоих исследований и бандана	</p></div>
      <div class="wtr rank1"><p>	Иванов Тимур	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Никонов Артем	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Рыжук Кирилл	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Игнатий Хабазин	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Иштокин Антон	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Лобанов Семен	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Курзина Дарья	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Мецлер Виктория	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Никита Кузнецов	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Брагина Алина	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Мороз Илья	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Егоркин Ярослав	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Мецлер Дарина	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Кобер елизавета	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Бурматова Лиза	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Шалупина Софья	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Береснев Андрей	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Андрей Важенин	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Низамов Вадим	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Коробщиков Тимофей	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Зырянова Елизавета	</p><p>	 Следопыт-супергерой	</p><p>	3	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Шпалтаков Артемий	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Штеле Артем	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Мальцева Александра	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Суханов Тимофей	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	ИВАНОВ РОМАН	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Ганин Кирилл	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Лазарев Даниил	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Акимов Владимир	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Егоркин Роман	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Камоничкина Алина	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Родионова Анастасия	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Шпалтаков Данил	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Зайцева Мира	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Угрюмова Алина	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Фомина Дарья	</p><p>	 Следопыт-супергерой	</p><p>	4	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Федирко Яна	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Татаренко Данил	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Селиверстов Дима	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Шалупин Лев	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Ашихмин Захар	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Черданцева Нелли	</p><p>	 Следопыт-супергерой	</p><p>	5	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Полина Дмитриева	</p><p>	 Следопыт-супергерой	</p><p>	6	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Круть Иван	</p><p>	 Следопыт-супергерой	</p><p>	6	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Маранина Анастасия	</p><p>	 Следопыт-супергерой	</p><p>	6	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Шавров данил	</p><p>	 Следопыт-супергерой	</p><p>	6	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Моисеев Степан	</p><p>	 Следопыт-супергерой	</p><p>	7	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	ОЖОГИН СТЕПАН	</p><p>	 Следопыт-супергерой	</p><p>	7	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Патехина Эльвира	</p><p>	 Следопыт-супергерой	</p><p>	8	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Фролова Виктория	</p><p>	 Следопыт-супергерой	</p><p>	9	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Евтушенко Элина	</p><p>	 Следопыт-супергерой	</p><p>	11	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>
      <div class="wtr rank1"><p>	Витковская София	</p><p>	 Следопыт-супергерой	</p><p>	13	</p><p>	Рюкзак и бутылка для твоих активных прогулок	</p></div>

    </div>

    <br><br>
    <h1>Главные победители</h1>
    <br>
    <h1>1 МЕСТО</h1><br>
    <h2>Софья Шалупина - электросамокат</h2><br><br><br>
    <h1>2 МЕСТО</h1><br>
    <h2>Игнатий Хабазин - велосипед для трюков BMX</h2><br><br><br>
    <h1>3 МЕСТО</h1><br>
    <h2>Андрей Важенин - велосипед для увлекательных поездок</h2><br><br><br>
  </div>
  <div id="bgFooter" class="redFont">
    <p class="smallDiscl Lilita">Все участники получат призы!</p>
    <div id="bigDiscl">
      <div class="str1">Главные</div>
      <div class="str2">призы</div>
    </div>
    <div class="prizePhoto" id="prize1"></div>
    <div class="prizePhoto" id="prize2"></div>
    <div class="prizePhoto" id="prize3"></div>
    <p class="prizeDisclaimer Lilita">* Внешний вид и модель призов могут отличаться от представленных</p>
  </div>
  <div id="hintContainer">
    <div class="funButton" id="fixed" onclick="closeHint()">Закрыть</div>
    <div id="idHint">
      <p id="hintHeader">Запомни, мира не узнаешь, не зная края своего!</p>
      <p class="hintRichLine">Дорогой исследователь Родного края.</p>
      <p>Мы рады приветствовать тебя на страничке юных следопытов. Если ты читаешь это обращение, значит, ты готов вместе с нами отправиться в увлекательное путешествие по просторам Родных мест.</p>
      <p>Период проведения конкурса:</p>
      <p>с 15 сентября по 13 октября принимаем ваши исследования;</p>
      <p>20 октября мы подведем итоги.</p>
      <p>Чем больше исследований ты проведешь, тем выше будет становиться твое звание. Каждый участник получит гарантированный приз в зависимости от своего звания:</p>
      <p>1 исследование - «Юный исследователь» - значок и сладкий приз</p>
      <p>2 исследования - «Следопыт» - удобный блокнот для твоих исследований и бандана</p>
      <p>3 и более исследований - «Следопыт-супергерой» - рюкзак и бутылка для твоих активных прогулок</p>
      <p>Среди всех участников команда жюри определит трех главных победителей и в зависимости от призового места подарит им отличные призы:</p>
      <p>1 место - электрический самокат;</p>
      <p>2 место - велосипед для трюков BMX;</p>
      <p>3 место - велосипед для увлекательных поездок.</p>
      <p>Мы ценим ваше творчество и поэтому при выборе победителей будем обращать внимание на уникальность текста и фото каждой работы! Ваша работа должна составлять не менее 2000 символов.</p>
      <p><b>Правила голосования</b></p>
      <p>Дорогие друзья, чтобы ваш голос был засчитан, вы должны проголосовать за три разные работы!</p>
      <p>По итогам голосования, те следопыты, которые набрали наибольшее количество голосов получат звание «приз зрительских симпатий»! Подарок - познавательные книги для новых открытий.</p>
      <p>Следопыты, призы будут вручены при соблюдении следующих критериев:</p>
      <p>1. Ваше исследование должно быть про Алтайский край, Республику Алтай и Новосибирскую область. Известные люди, растения, животные и природные объекты, которые вы исследуете, должны быть связаны с этими регионами.
        Это наши родные регионы - в них представлены магазины «Аникс». </p>
      <p>2. Уникальность текста!
        Каждая работа будет проверена. Уникальность текста должна быть не менее 50%.
        Пишите сами, проявляйте фантазию, а не копируйте из интернета.</p>
      <p class="hintAvgLine">А теперь подробнее о твоем исследовании!</p>
      <p>Ты живешь в уникальном месте, тебя окружает богатый природный мир: животные, птицы, растения, озера, реки, горы...</p>
      <p class="noPadding">Знаешь ли ты историю своего любимого места?</p>
      <p class="noPadding">Легенду о горе, которую видишь из окна дома?</p>
      <p class="noPadding">Где зимует птичка, которая летом поет тебе песни?</p>
      <p class="noPadding">А сколько длиной речка, в который ты купаешься летом?</p>
      <p class="noPadding">Какие великие люди жили и живут в твоем крае?</p>
      <p class="noPadding">Как они стали великими?</p>
      <p class="noPadding">Видишь, сколько всего интересного вокруг!</p>
      <p>Выбери тему на карте главной страницы, которая интересует тебя больше весго:</p>
      <p class="noPadding">Известные люди</p>
      <p class="noPadding">Растительный мир</p>
      <p class="noPadding">Животный мир</p>
      <p class="noPadding">Природные объекты</p>
      <p></p>
      <p class="noPadding">Выбери конкретный объект, про который ты хочешь рассказать, например:</p>
      <p class="noPadding">река Катунь, гора Пикет, писатель Василий Макарович Шукшин.</p>
      <p class="noPadding">Далее начни исследование этого объекта.</p>
      <p class="noPadding">Узнай о нем как можно больше и напиши свой доклад или рассказ.</p>
      <p class="noPadding">Обязательно расскажи, почему ты выбрал именно эту тему.</p>
      <p class="noPadding">Сфотографируй это места или объект твоего изучения, можешь снять видео, а мы с удовольствием его посмотрим!</p>
      <p class="noPadding">Если удастся сделать фото исследуемого объекта самому, то это станет твоим преимуществом!</p>
      <p class="noPadding">После того, как ты сохранишь работу, она отобразится в блоках по тематикам и все желающие смогут познакомиться с ней, а так же отдать свой голос тебе!</p>
      <p class="noPadding">Работа, которая наберет больше всего голосов, получит звание «Приз зрительских симпатий», а победитель получит познавательные книги или энциклопедию в подарок.</p>
      <p class="hintAvgLine">Ждем ваши работы и желаем удачи!</p>
      <p class="hintAvgLine">Исследуй родной край с «Аникс»!</p>
    </div>
    <div id="magRes"></div>
  </div>
</div>
<div id="loginPopUp">
  <div id="loginPopupExitButton" onclick="closeLoginPopUp()">x</div>
  <div class="loginElement" id="loginStep1">
    <h1>Вход или регистрация</h1>
    <p><label for="phoneNumber">Номер телефона:</label></p>
    <p>
      <input id="phoneNumber" name="phoneNumber" size="14" class="tel" placeholder="+7 (999) 999 9999">
    </p>
    <p>
      <button onclick="LogInWithoutPass();" class="funButton">Далее</button>
    </p>
  </div>
  <div class="loginElement" id="loginStep2">
    <h1>Вход по паролю</h1>
    <p><label for="loginPassword">Пароль:</label></p>
    <p>
      <input type="password" class="name" id="loginPassword" name="loginPassword">
    </p>
    <p>
      <button class="funButton" onclick="LogInWithPass();">Войти</button>
    </p>
  </div>
  <div class="loginElement" id="loginStep3">
    <h1>Давай познакомимся!</h1>
    <p><label for="name">Фамилия Имя:</label></p>
    <p>
      <input class="name" id="name" placeholder="Иванов Иван">
    </p>
    <p><label for="signinPassword">Придумай пароль:</label></p>
    <p>
      <input type="password" class="name" id="signinPassword">
    </p>
    <p><label for="signinPasswordRepeat">Еще раз:</label></p>
    <p>
      <input oninput="rejectPasswordInput()" type="password" class="name" id="signinPasswordRepeat">
    </p>
    <p>
      <input id="personalDataAgreement" type="checkbox"><label for="personalDataAgreement">Соглашаюсь на <a href="terms.html" target="_blank">обработку персональных данных</a></label>
    </p>
    <p>
      <button class="funButton" onclick="if(!comparePasswords())return; RegIn();">Зарегистрироваться</button>
    </p>
  </div>
</div>
<div id="errorBox">
  <p id="messageHeader">Test message</p>
  <p id="messageText">You are dead</p>
</div>
</body>
</html>